@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jdvke9');
  src:  url('fonts/icomoon.eot?jdvke9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jdvke9') format('truetype'),
    url('fonts/icomoon.woff?jdvke9') format('woff'),
    url('fonts/icomoon.svg?jdvke9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ava1:before {
  content: "\e900";
}
.icon-back1:before {
  content: "\e901";
}
.icon-back2:before {
  content: "\e902";
}
.icon-calendar1:before {
  content: "\e903";
}
.icon-calendar2:before {
  content: "\e904";
}
.icon-down1:before {
  content: "\e905";
}
.icon-clock1:before {
  content: "\e906";
}
.icon-classic-phone:before {
  content: "\e907";
}
.icon-close1:before {
  content: "\e908";
}
.icon-correct1:before {
  content: "\e909";
}
.icon-close2:before {
  content: "\e90a";
}
.icon-down2:before {
  content: "\e90c";
}
.icon-down3:before {
  content: "\e90d";
}
.icon-email1:before {
  content: "\e90e";
}
.icon-email2:before {
  content: "\e90f";
}
.icon-eye:before {
  content: "\e910";
}
.icon-facebook:before {
  content: "\e911";
}
.icon-facebook2:before {
  content: "\e912";
}
.icon-google1:before {
  content: "\e915";
}
.icon-icon:before {
  content: "\e916";
}
.icon-instagram1:before {
  content: "\e917";
}
.icon-instagram2:before {
  content: "\e918";
}
.icon-instagram3:before {
  content: "\e919";
}
.icon-marker1:before {
  content: "\e91a";
}
.icon-marker2:before {
  content: "\e91b";
}
.icon-Menu1:before {
  content: "\e91c";
}
.icon-next1:before {
  content: "\e91d";
}
.icon-next2:before {
  content: "\e91e";
}
.icon-odnoklassniki1:before {
  content: "\e91f";
}
.icon-plane1:before {
  content: "\e920";
}
.icon-phone1:before {
  content: "\e921";
}
.icon-phone2:before {
  content: "\e922";
}
.icon-phone3:before {
  content: "\e923";
}
.icon-pinterest1:before {
  content: "\e924";
}
.icon-marker3:before {
  content: "\e925";
}
.icon-marker4:before {
  content: "\e926";
}
.icon-marker5:before {
  content: "\e927";
}
.icon-printer:before {
  content: "\e928";
}
.icon-profile:before {
  content: "\e929";
}
.icon-reload:before {
  content: "\e92a";
}
.icon-shield1:before {
  content: "\e92c";
}
.icon-cart1:before {
  content: "\e92d";
}
.icon-cart2:before {
  content: "\e92e";
}
.icon-speech1:before {
  content: "\e92f";
}
.icon-phone4:before {
  content: "\e930";
}
.icon-test:before {
  content: "\e931";
}
.icon-twitter1:before {
  content: "\e932";
}
.icon-twitter2:before {
  content: "\e933";
}
.icon-up1:before {
  content: "\e934";
}
.icon-up2:before {
  content: "\e935";
}
.icon-user:before {
  content: "\e936";
}
.icon-viber1:before {
  content: "\e937";
}
.icon-vk1:before {
  content: "\e938";
}
.icon-vk2:before {
  content: "\e939";
}
.icon-clock2:before {
  content: "\e93a";
}
.icon-youtube1:before {
  content: "\e93b";
}
.icon-home1:before {
  content: "\e93c";
}
.icon-home2:before {
  content: "\e93d";
}
.icon-home3:before {
  content: "\e93e";
}
.icon-pie1:before {
  content: "\e99a";
}
.icon-fire1:before {
  content: "\e9a9";
}
.icon-star1:before {
  content: "\e9d7";
}
.icon-star2:before {
  content: "\e9d9";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross1:before {
  content: "\ea0d";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross2:before {
  content: "\ea0f";
}
